.authNavMenu {
    display: flex;
    gap: 10px;

}

.navMenu {
    display: flex;
    gap: 20px;

}

.navLink {
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
}

.activeLink {
    text-decoration: underline;
}